{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=johndoddo;AccountKey=sf1qvbQg0vnOzAtsp8eG1aYCJOWpqM+kJMhmJgm3T6rcfYf94DHTGTk/uH0ihWt0lQ1CmZVLGllQ+AStRqJnjA==;EndpointSuffix=core.windows.net",
  "accountName": "johndoddo",
  "accountKey": "sf1qvbQg0vnOzAtsp8eG1aYCJOWpqM+kJMhmJgm3T6rcfYf94DHTGTk/uH0ihWt0lQ1CmZVLGllQ+AStRqJnjA=="
}
